{% extends "baseTemp.html" %}
{% block content %}


{% if data==None %}

<p>
  <b> {{eventId}} don't exist</b>
</p>
{% else %}
<p>
Event Id is {{eventId}} <br>
This event was held on -{{timeData}}
</p>
<div class="u-align-center u-table u-table-responsive u-table-1">

  {% if xlen>0 %}

  <table class="u-table-entity">
    <!---
    <colgroup>
      <col width="40%">
      <col width="40%">
      <col width="20%">

    </colgroup> -->

    <thead class="u-align-center u-palette-4-light-3 u-table-header u-table-header-1">
      <tr style="height: 53px;">

        {% for col in cols %}
        <th class="u-border-4 u-border-grey-dark-1 u-table-cell u-table-cell-1">{{col}}</th>

        {% endfor %}
      </tr>
    </thead>
    <tbody class="u-align-center u-table-alt-grey-10 u-table-body u-white u-table-body-1">
      {% for val1,val2,val3,val4 in xdata %}
      <tr style="height: 67px;">

        <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-6">{{val1}}</td>
        <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-6">{{val2}}</td>
        <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-6">{{val3}}</td>
        <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-6">{{val4}}</td>

        </tr>
      {% endfor %}

    </tbody>
  </table>
  {% else  %}
  <center> <b>No Records found</b></center>
  {% endif %}
</div>

{% endif %}

{% endblock %}
