{% extends "baseTemp.html" %}
{% block content %}

<section class="u-clearfix u-image u-section-1" id="sec-0ce8" data-image-width="400" data-image-height="265">
  <div class="u-container-style u-gradient u-group u-radius-10 u-shape-round u-group-1">
    <div class="u-container-layout u-container-layout-1">
      <div class="u-container-style u-group u-group-2">
        <div class="u-container-layout u-container-layout-2">
          <h2 class="u-text u-text-default u-text-1">Introduction</h2>
          <p class="u-text u-text-2">Hello Everyone,<br><b>{{webName}}</b> is a type of game. In which a number of people will participate in the event.<br>Based on the certain terms and condition of the gaming event the winner will be selected.
          </p>
          <h2 class="u-text u-text-default u-text-3">Goal</h2>
          <p class="u-text u-text-4">The main and basic goal of this <b>{{webName}}</b> game is to give users more in less investment. Starting from Rs. 1 .&nbsp; Those who will be participating in this game in then the winner will be selected. It's return is totally based on the number of users participating in the event.<br>For further information. Please visit to event section in the Dassboard.
          </p>
          <h2 class="u-text u-text-default u-text-5">Payments&nbsp;<br>
          </h2>
          <p class="u-text u-text-6">In the Events for participating you have the&nbsp; pay the entry fee which is given on the event section. And the UPI/VPA id is taken for when the user will win the event then the money from the server side to pay the user. Then through UPI/VPA id is sent.</p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock  %}
